main {
    .not-found-section {
        .not-found {
            border-bottom: 1px solid $line;
            display: flex;
            padding-bottom: 60px;
            transform: translateY(-40px);
            .error-description {
                max-width: 460px;
                width: 100%;
                margin-right: 66px;
                @media (max-width: 992px) {
                    max-width: 100%;
                    margin-right: 0;
                }
                .error-code {
                    font-size: 240px;
                    font-weight: 800;
                    color: $gold;
                    @media (max-width: 768px) {
                        font-size: 120px;
                    }
                }
                .description {
                    margin-top: 30px;
                    .sorry {
                        color: $gold;
                    }
                    .text {
                        margin: 30px 0 40px 0;
                    }
                }
                .go-home {
                    width: 220px;
                }
            }
            .we-are-here {
                margin-top: 70px;
                width: 100%;
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}